@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
	margin: 0;
	padding: 0;
	bottom: 0;
	list-style: none;
}

body {
	font-family: Montserrat;
}

header {
	background: #eff0f2;
	padding: 65px 100px;
}

.top {
	display: flex;
	height: 110px;
}

.top__logo {
	border: 6px solid #000;
	line-height: 28px;
	letter-spacing: 1.26px;
	font-size: 17px;
	font-weight: 700;
	text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
	height: 46px;
	width: 113px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.o {
	color: #77efe5;
	font-size: 21px;
}

.banner {
	text-align: center;
	margin-top: 125px;
	position: relative;
}
.banner__title {
	text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	color: #505050;
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
}

.banner__text {
	text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	color: #505050;
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 25px;
}

.banner__btn {
	display: inline-block;
	margin-top: 150px;
	margin-bottom: 105px;
	border: 2px solid #000;
	border-radius: 2px;
	padding: 20px 48px;
	color: #000000;
	font-size: 18px;
	text-decoration: none;
	transition: 1s;
}

.banner__btn:hover {
	background-color: #76f4ea;
}

.banner__button {
	position: absolute;
	left: 86%;
	top: 60%;
}

.rect {
	width: auto;
	height: auto;
	padding: 10px 15px;
	background-color: #76f4ea;
	opacity: 0.5;
}

.about {
	text-align: center;
	background: #f8fafa;
}

.about__title {
	font-size: 38px;
	letter-spacing: 2.28px;
	font-weight: 700;
	opacity: 0.9;
	text-transform: uppercase;
	line-height: 28px;
	padding-top: 129px;
}

.about__subtitle {
	font-family: Merriweather;
	font-weight: 400;
	text-transform: uppercase;
	opacity: 0.62;
	margin-top: 17px;
}

.about__body {
	display: flex;
	justify-content: center;
	padding-top: 145px;
	padding-bottom: 130px;
}

.about__image img {
	max-width: 483px;
	height: 390px;
	margin-left: 200px;
}

.about__info {
	margin-left: 120px;
	margin-right: 140px;
	text-align: left;
}

.about__info h2 {
	font-family: Merriweather;
	opacity: 0.75;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.about__info h3 {
	font-family: Merriweather;
	font-size: 17px;
	opacity: 0.75;
	text-transform: uppercase;
	margin-top: 35px;
}

.about__info p {
	font-family: Raleway;
	font-size: 16px;
	opacity: 0.74;
	margin-top: 30px;
	font-weight: 400;
	letter-spacing: 0.8px;
}

.featured {
	text-align: center;
}

.featured__works {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 120px 0;
}

.featured__item {
	margin: 15px
}

.services {
	text-align: center;
	background: #f9fbfb;
}

.services__body {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	margin-top: 120px;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 120px;
}

.services__item_active,
.services__item {
	text-align: left;
	margin: 0 7px 12px 7px;
	position: relative;
}

.services__item_active {
	max-width: 400px;
	background-color: #6df6eb;
	padding: 63px 116px 148px 66px;
}

.services__item:nth-child(2) {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/services/1.png);
	padding: 160px 90px 55px 65px;
}

.services__item:nth-child(3) {
	padding: 150px 116px 50px 66px;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/services/2.png) no-repeat center;
	height: 170px !important;
}

.services__item:nth-child(4) {
	padding: 150px 90px 55px 65px;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/services/3.png) no-repeat center;
	height: 170px !important;
}

.services__item:nth-child(5) {
	padding: 150px 116px 50px 66px;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/services/4.png) no-repeat center;
	max-width: 250px !important;
	height: 170px !important;
}

.services__item:nth-child(6) {
	padding: 150px 90px 55px 65px;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/services/5.png) no-repeat center;
	max-width: 450px !important;
	height: 165px !important;
}

.services__item:nth-child(odd) {
	max-width: 400px;
}

.services__item:nth-child(even) {
	max-width: 300px;
}

.services__item__title_active,
.services__item__title {
	font-family: Merriweather;
	opacity: 0.83;
	font-size: 20px;
	line-height: 29px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	font-weight: 700;
}

.services__item__title {
	color: #fff;
	opacity: 0.95;
	letter-spacing: 1px;
}

.services__item__text_active,
.services__item__text {
	font-family: Raleway;
	opacity: 0.75;
	letter-spacing: 0.4px;
	font-size: 16px;
	font-weight: 400;
	margin-top: 35px;
}

.services__item__text {
	opacity: 0.9;
	color: #fff;
	letter-spacing: 0.32px;
	line-height: 25px;
	padding-bottom: 40px;
}

.services__item__link {
	text-transform: uppercase;
	text-decoration: none;
	/*padding-top: 55px;*/
	font-family: Raleway;
	font-size: 19px;
	display: inline-block;
	color: #fff;
	position: absolute;
	bottom: 30px;
}

.small-team {
	text-align: center;
}

.small-team__body {
	display: flex;
	flex-wrap: wrap;
	max-width: 1160px;
	margin: 0 auto;
	padding: 120px 0;
	justify-content: center;
}

.small-team__item {
	height: 440px;
	width: 370px;
	margin: 0 8px 14px 8px;
	position: relative;
}

.small-team__item_active {
	position: absolute;
	background-color: #6df6eb;
	padding: 40px 50px 40px 35px;
	margin: 0 13px 15px;
	text-align: left;
	font-family: Merriweather;
}

.small-team__item_active::after {
	content: '';
	position: absolute;
	left: 25px; top: -28px;
	border: 8px solid transparent;
	border-bottom: 20px solid #6df6eb;
}

.small-team__item__title {
	display: flex;
	align-items: center;
}

.small-team__item__title h2 {
	font-size: 20px;
	font-weight: 700;
	color: #272727;
	letter-spacing: 1px;
}

.small-team__item__title p {
	font-style: italic;
	font-size: 15px;
	letter-spacing: 0.45px;
	opacity: 0.9;
	color: #767070;
}

.small-team__item__text {
	font-family: Raleway;
	font-size: 16px;
	letter-spacing: 0.16px;
	opacity: 0.8;
	padding-top: 20px;
}

.what {
	text-align: center;
	background: #f9fbfb;
}

.what__body {
	display: flex;
	justify-content: center;
	padding: 130px 0 180px;
	align-items: center;
	max-width: 1050px;
	margin: 0 auto;
}

.what__img {
	box-shadow: -55px 0 3px -20px #ecedef, 55px 0 3px -20px #ecedef;
}

.what__text {
	padding-left: 119px;
	background: #eaebed;
	margin-left: 90px;
	padding: 100px 85px 65px;
}

.what__text__title {
	font-family: Merriweather;
	font-size: 20px;
	letter-spacing: 1.2px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}

.what__text__title p {
	color: #787878;
	letter-spacing: 0.9px;
	font-weight: 400;
	font-size: 15px;
	font-variant: italic;
}

.what__text__text {
	padding-top: 30px;
	font-family: Raleway;
	font-size: 16px;
	opacity: 0.7;
}

.partners {
	padding: 105px 0;
	text-align: center;
}

.contact {
	background: #fafcfc url(img/bg.png) top center no-repeat;
	height: 700px;
}

.contact__body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 120px;
}

.contact__form {
	background-color: #021623;
	opacity: 0.71;
	padding: 35px 30px;
	width: 500px;
	box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
}

input,
textarea {
	color: #fff;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #99a2a8;
	opacity: 0.6;
	padding: 17px 5px;
	width: 100%;
	margin-top: 10px;
	outline: 0;
}
input::placeholder,
textarea::placeholder {
	color: #fff;
	opacity: 0.6;
}
textarea {
	margin-top: 30px;
	height: 115px;
	color: #fff;
}
input:first-child {
	margin-top: 0;
}

.contact__btn {
	color: #000;
	font-family: Montserrat;
	opacity: 0.7;
	font-size: 18px;
	letter-spacing: 2.16px;
	width: 245px;
	background-color: #6eeee4;
	border-radius: 2px;
	padding: 20px 35px;
	transition: 1s;
	cursor: pointer;
}
.contact__btn:hover {
	background: #fff;
}

.contact__text {
	background-color: #021623;
	opacity: 0.71;
	box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
	margin-left: 25px;
	width: 400px;
	padding: 35px 30px 20px;
}

.contact__text p {
	color: #fff;
	opacity: 0.7;
	font-family: Raleway;
	font-size: 15px;
	padding: 20px;
}

.contact__text p:first-child {
	padding-top: 0;
}

.contact__text img {
	width: 100%;
	height: 255px;
}

footer {
	height: 150px;
	background-color: #262b2e;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer p {
	opacity: 0.4;
	font-size: 16px;
	font-family: Raleway;
	letter-spacing: 0.16px;
}

.title {
	font-size: 38px;
	letter-spacing: 2.28px;
	font-weight: 700;
	opacity: 0.9;
	text-transform: uppercase;
	line-height: 28px;
	padding-top: 129px;
}

.subtitle {
	font-family: Merriweather;
	font-weight: 400;
	text-transform: uppercase;
	opacity: 0.62;
	padding-top: 17px !important;
}